.hero-section {
  @include media(desktop) {
  }
}

.hero-wrapper {
  padding-top: 184px;
  padding-bottom: 120px;
  max-width: 375px;
  margin: 0 auto;
  background-image: url(../img/hero/hero-lines-mob.png);
  background-repeat: no-repeat;
  background-position: top 0px left 0px;
  background-size: auto;

  @include media(desktop) {
    padding-top: 277px;
    padding-bottom: 160px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-top-lines.png),
      url(../img/hero/hero-bottom-lines.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top 0px left 0px, bottom 0px right 0px;
    background-size: auto, auto;
  }
}

.hero-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  color: #9d94ff;
  margin-bottom: 19px;

  @include media(desktop) {
    font-size: 64px;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;

  &:last-child {
    font-style: italic;
    margin-bottom: 0;
  }

  @include media(desktop) {
  }
}

.hero-span {
  font-weight: 500;
}
