.pricing-section {
}

.pricing-bg-wrapper {
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-bottom: 152px;
    max-width: 1440px;
  }
}

.pricing-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;

  @include media(desktop) {
    flex-direction: row;
  }
}

.pricing-list-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;

  &:nth-child(1) {
    border: 2px solid #223296;
  }

  &:nth-child(2) {
    border: 2px solid #581ca2;
  }

  &:nth-child(3) {
    border: 2px solid #7900a5;
  }

  @include media(desktop) {
    max-width: 384px;
  }
}

.pricing-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.pricing-item-time {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.pricing-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.pricing-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
