.policy-section {
  background: #1f1f1f;
  padding-top: 112px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 56px;
  }
}

.policy-main-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 48px;
  }
}

.policy-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 40px;
  }
}

.policy-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 32px;
  }
}

.policy-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 24px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
