<section class="section clients-section" id="clients">
  <div class="clients-bg-wrapper">
    <div class="container clients-container">
      <h2 class="section-title clients-title">Who It’s For</h2>
      <p class="section-subtitle">“Built for Businesses Who Move Fast”</p>
      <ul class="clients-list">
        <li class="clients-list-item">
          <svg class="clients-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-users"></use>
          </svg>
          <p class="clients-item-text">
            Startup founders needing fast second opinion
          </p>
        </li>
        <li class="clients-list-item">
          <svg class="clients-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-tasks"></use>
          </svg>
          <p class="clients-item-text">SME owners testing new markets</p>
        </li>
        <li class="clients-list-item">
          <svg class="clients-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-search"></use>
          </svg>
          <p class="clients-item-text">
            Marketing leads checking positioning or copy
          </p>
        </li>
        <li class="clients-list-item">
          <svg class="clients-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
          <p class="clients-item-text">HR teams shaping policy or values</p>
        </li>
        <li class="clients-list-item">
          <svg class="clients-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-idea"></use>
          </svg>
          <p class="clients-item-text">
            Legal/ops leaders needing light audit input
          </p>
        </li>
        <li class="clients-list-item">
          <svg class="clients-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-activity"></use>
          </svg>
          <p class="clients-item-text">Designers validating client strategy</p>
        </li>
      </ul>
      <p class="clients-text">
        You don’t need to commit to months. Just a meaningful hour.
      </p>
    </div>
  </div>
</section>
