<section class="section coaches-section" id="coaches">
  <div class="coaches-bg-wrapper">
    <div class="container coaches-container">
      <h2 class="section-title coaches-title">
        What words can't unlock, images do.
      </h2>
      <p class="section-subtitle">Used by:</p>
      <ul class="coaches-list">
        <li class="coaches-list-item">
          <picture>
            <source
              srcset="./img/coaches/coaches-coaches-desk.png"
              media="(min-width: 1440px)"
              width="60"
              height="60" />
            <source
              srcset="./img/coaches/coaches-coaches-mob.png"
              width="30"
              height="30" />
            <img
              class="coaches-img"
              src="./img/coaches/coaches-coaches-mob.png"
              alt="Coach"
              width="30"
              height="30"
          /></picture>
          <p class="coaches-item-text">Life & executive coaches</p>
        </li>
        <li class="coaches-list-item">
          <picture>
            <source
              srcset="./img/coaches/coaches-therapists-desk.png"
              media="(min-width: 1440px)"
              width="60"
              height="60" />
            <source
              srcset="./img/coaches/coaches-therapists-mob.png"
              width="30"
              height="30" />
            <img
              class="coaches-img"
              src="./img/coaches/coaches-therapists-mob.png"
              alt="Therapist"
              width="30"
              height="30"
          /></picture>
          <p class="coaches-item-text">
            Art therapists and narrative facilitators
          </p>
        </li>
        <li class="coaches-list-item">
          <picture>
            <source
              srcset="./img/coaches/coaches-teams-desk.png"
              media="(min-width: 1440px)"
              width="60"
              height="60" />
            <source
              srcset="./img/coaches/coaches-teams-mob.png"
              width="30"
              height="30" />
            <img
              class="coaches-img"
              src="./img/coaches/coaches-teams-mob.png"
              alt="Team"
              width="30"
              height="30"
          /></picture>
          <p class="coaches-item-text">
            Product teams seeking symbolic insight
          </p>
        </li>
        <li class="coaches-list-item">
          <picture>
            <source
              srcset="./img/coaches/coaches-workshops-desk.png"
              media="(min-width: 1440px)"
              width="60"
              height="60" />
            <source
              srcset="./img/coaches/coaches-workshops-mob.png"
              width="30"
              height="30" />
            <img
              class="coaches-img"
              src="./img/coaches/coaches-workshops-mob.png"
              alt="Trust"
              width="30"
              height="30"
          /></picture>
          <p class="coaches-item-text">
            HR workshops focused on empathy and trust
          </p>
        </li>
        <li class="coaches-list-item">
          <picture>
            <source
              srcset="./img/coaches/coaches-sessions-desk.png"
              media="(min-width: 1440px)"
              width="60"
              height="60" />
            <source
              srcset="./img/coaches/coaches-sessions-mob.png"
              width="30"
              height="30" />
            <img
              class="coaches-img"
              src="./img/coaches/coaches-sessions-mob.png"
              alt="Session"
              width="30"
              height="30"
          /></picture>
          <p class="coaches-item-text">
            Conflict resolution sessions using abstract mapping
          </p>
        </li>
      </ul>
      <p class="coaches-text">
        We offer guided onboarding and example prompts.
      </p>
    </div>
  </div>
</section>
