<section class="section consultants-section" id="consultants">
  <div class="consultants-bg-wrapper">
    <div class="container consultants-container">
      <h2 class="section-title consultants-title">Consultants You’ll Find</h2>
      <p class="section-subtitle">“No Noise. Only Practitioners.”</p>
      <ul class="consultants-list">
        <li class="consultants-list-item">
          <svg class="consultants-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="consultants-item-text">Years of experience (min 5)</p>
        </li>
        <li class="consultants-list-item">
          <svg class="consultants-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="consultants-item-text">
            Area of focus (e.g. GTM, Brand, Legal, HR, Ops)
          </p>
        </li>
        <li class="consultants-list-item">
          <svg class="consultants-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="consultants-item-text">What they will not do</p>
        </li>
        <li class="consultants-list-item">
          <svg class="consultants-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="consultants-item-text">Preferred format(s)</p>
        </li>
        <li class="consultants-list-item">
          <svg class="consultants-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="consultants-item-text">Reviews from past short sessions</p>
        </li>
      </ul>
      <p class="consultants-text">
        All consultants reviewed manually. No open listings.
      </p>
    </div>
  </div>
</section>
