<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">Contact</h2>
      <p class="section-subtitle">For workshops, licensing, or partnerships:</p>
      <div class="contact-link-wrapper">
        <a
          class="contact-email-link"
          href="mailto:hello@enchantedtwistpuzzle.com"
          ><svg class="mail-icon" width="10" height="10">
            <use href="./img/sprite.svg#icon-mail"></use></svg
          >hello@enchantedtwistpuzzle.com</a
        >
        <a
          class="contact-email-link"
          href="mailto:support@enchantedtwistpuzzle.com"
          ><svg class="mail-icon" width="10" height="10">
            <use href="./img/sprite.svg#icon-mail"></use></svg
          >support@enchantedtwistpuzzle.com</a
        >
      </div>
    </div>
  </div>
</section>
