<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <h2 class="section-title cta-title">Start Booking</h2>
      <p class="section-subtitle">
        “You’re One Hour Away From a Better Decision”
      </p>
      <p class="cta-text">Start now. No signup needed until you book.</p>
      <p class="cta-text">No chatbot. Just smart people.</p>
      <a class="cta-email-link" href="mailto:consultaro.support@gmail.com">
        <svg class="cta-icon" width="37" height="27">
          <use href="./img/sprite.svg#icon-email"></use></svg
        ><span class="cta-email-span">consultaro.support@gmail.com</span></a
      >
    </div>
  </div>
</section>
