<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <h2 class="section-title cta-title">
        Access the visual puzzle deck now.
      </h2>
      <ul class="cta-list">
        <li class="cta-list-item">
          <picture>
            <source
              srcset="./img/cta/cta-grid-desk.png"
              media="(min-width: 1440px)"
              width="44"
              height="44" />
            <source
              srcset="./img/cta/cta-grid-mob.png"
              width="24"
              height="24" />
            <img
              class="cta-img"
              src="./img/cta/cta-grid-mob.png"
              alt="Grid"
              width="24"
              height="24"
          /></picture>
          <p class="cta-item-text">Try a free solo spread</p>
        </li>
        <li class="cta-list-item">
          <picture>
            <source
              srcset="./img/cta/cta-palette-desk.png"
              media="(min-width: 1440px)"
              width="44"
              height="44" />
            <source
              srcset="./img/cta/cta-palette-mob.png"
              width="24"
              height="24" />
            <img
              class="cta-img"
              src="./img/cta/cta-palette-mob.png"
              alt="Palette"
              width="24"
              height="24"
          /></picture>
          <p class="cta-item-text">Explore the gallery of visual metaphors</p>
        </li>
        <li class="cta-list-item">
          <picture>
            <source
              srcset="./img/cta/cta-projector-desk.png"
              media="(min-width: 1440px)"
              width="44"
              height="44" />
            <source
              srcset="./img/cta/cta-projector-mob.png"
              width="24"
              height="24" />
            <img
              class="cta-img"
              src="./img/cta/cta-projector-mob.png"
              alt="Projector"
              width="24"
              height="24"
          /></picture>
          <p class="cta-item-text">Create a room for your next session</p>
        </li>
      </ul>
      <p class="cta-text">
        📧 Start at:<br class="cta-br" />
        <a href="mailto:access@enchantedtwistpuzzle.com" class="cta-link"
          >access@enchantedtwistpuzzle.com</a
        >
      </p>
    </div>
  </div>
</section>
