<section class="section decks-section" id="decks">
  <div class="decks-bg-wrapper">
    <div class="container decks-container">
      <h2 class="section-title decks-title">
        52 visual metaphors. No words. No rules.
      </h2>
      <p class="section-subtitle">Each deck includes:</p>
      <ul class="decks-list">
        <li class="decks-list-item">
          <picture>
            <source
              srcset="./img/decks/decks-eye-desk.png"
              media="(min-width: 1440px)"
              width="82"
              height="82" />
            <source
              srcset="./img/decks/decks-eye-mob.png"
              width="30"
              height="30" />
            <img
              class="decks-img"
              src="./img/decks/decks-eye-mob.png"
              alt="Eye"
              width="30"
              height="30"
          /></picture>
          <p class="decks-item-text">Symbolic illustrations</p>
        </li>
        <li class="decks-list-item">
          <picture>
            <source
              srcset="./img/decks/decks-card-desk.png"
              media="(min-width: 1440px)"
              width="82"
              height="82" />
            <source
              srcset="./img/decks/decks-card-mob.png"
              width="30"
              height="30" />
            <img
              class="decks-img"
              src="./img/decks/decks-card-mob.png"
              alt="Card"
              width="30"
              height="30"
          /></picture>
          <p class="decks-item-text">
            Context cards (mood, polarity, archetype)
          </p>
        </li>
        <li class="decks-list-item">
          <picture>
            <source
              srcset="./img/decks/decks-shuffling-desk.png"
              media="(min-width: 1440px)"
              width="82"
              height="82" />
            <source
              srcset="./img/decks/decks-shuffling-mob.png"
              width="30"
              height="30" />
            <img
              class="decks-img"
              src="./img/decks/decks-shuffling-mob.png"
              alt="Card"
              width="30"
              height="30"
          /></picture>
          <p class="decks-item-text">Digital shuffling and spread placement</p>
        </li>
        <li class="decks-list-item">
          <picture>
            <source
              srcset="./img/decks/decks-layouts-desk.png"
              media="(min-width: 1440px)"
              width="82"
              height="82" />
            <source
              srcset="./img/decks/decks-layouts-mob.png"
              width="30"
              height="30" />
            <img
              class="decks-img"
              src="./img/decks/decks-layouts-mob.png"
              alt="Card"
              width="30"
              height="30"
          /></picture>
          <p class="decks-item-text">Custom layouts for solo or group use</p>
        </li>
      </ul>
      <p class="decks-text">
        Designed by artists, psychologists, and storytellers.
      </p>
    </div>
  </div>
</section>
