<header class="header">
  <div class="header-bg-wrapper">
    <div class="container header-container">
      <nav class="nav">
        <a href="./index.html" class="header-logo-link">
          <picture>
            <source
              srcset="./img/header/header-logo-desk.png"
              media="(min-width: 1440px)"
              width="93"
              height="62" />
            <source
              srcset="./img/header/header-logo-mob.png"
              width="71"
              height="47" />
            <img
              class="typologies-img"
              src="./img/header/header-logo-mob.png"
              alt="Logo"
              width="71"
              height="47" /></picture
        ></a>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#home">What It Is</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#decks">Visual Decks</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#process"
              >How You Use It</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#tools">Modes & Tools</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#coaches"
              >For Coaches & Teams</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#scenarios"
              >Creative Scenarios</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#cta">Start Exploring</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#contact">Contact</a>
          </li>
        </ul>
        <button class="nav-btn" type="button" aria-label="Open mobile menu">
          <svg class="menu-icon" width="30" height="30">
            <use href="./img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
