<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">“Tactical Advice. No Long Contracts.”</h1>
      <p class="hero-text">
        <span class="hero-span">Consultaro</span> lets you book vetted
        consultants for specific business questions — fast, simple, scoped.
      </p>
      <p class="hero-text">Sometimes, all you need is 45 minutes of clarity.</p>
      <p class="hero-text">
        Stop waiting for the full retainer agreement. Start with the answer.
      </p>
    </div>
  </div>
</section>
