<div class="context-menu">
  <div class="container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="48" height="48">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">What It Is</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#decks"
            >Visual Decks</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#process"
            >How You Use It</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#tools"
            >Modes & Tools</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#coaches"
            >For Coaches & Teams</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#scenarios"
            >Creative Scenarios</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#cta"
            >Start Exploring</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
