<div class="context-menu">
  <div class="container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="36" height="36">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home"
            >Instant Strategy</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#services"
            >What You Can Book</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#clients"
            >Who It’s For</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#consultants"
            >Consultants You’ll Find</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#approach"
            >Use One. Not Ten.</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#pricing"
            >Pricing by Session</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Ask First</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#cta">Start Booking</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
