<section class="section tools-section" id="tools">
  <div class="tools-bg-wrapper">
    <div class="container tools-container">
      <h2 class="section-title tools-title">
        Built for intuition. Powered by design
      </h2>
      <p class="section-subtitle">Platform includes:</p>
      <ul class="tools-list">
        <li class="tools-list-item">
          <picture>
            <source
              srcset="./img/tools/tools-collaboration-desk.png"
              media="(min-width: 1440px)"
              width="96"
              height="113" />
            <source
              srcset="./img/tools/tools-collaboration-mob.png"
              width="36"
              height="43" />
            <img
              class="tools-img"
              src="./img/tools/tools-collaboration-mob.png"
              alt="People"
              width="36"
              height="43"
          /></picture>
          <p class="tools-item-text">Live collaboration mode (shared boards)</p>
        </li>
        <li class="tools-list-item">
          <picture>
            <source
              srcset="./img/tools/tools-screenshot-desk.png"
              media="(min-width: 1440px)"
              width="116"
              height="113" />
            <source
              srcset="./img/tools/tools-screenshot-mob.png"
              width="36"
              height="43" />
            <img
              class="tools-img"
              src="./img/tools/tools-screenshot-mob.png"
              alt="Screenshot"
              width="36"
              height="43"
          /></picture>
          <p class="tools-item-text">Screenshot-ready spread exports</p>
        </li>
        <li class="tools-list-item">
          <picture>
            <source
              srcset="./img/tools/tools-journal-desk.png"
              media="(min-width: 1440px)"
              width="95"
              height="114" />
            <source
              srcset="./img/tools/tools-journal-mob.png"
              width="36"
              height="43" />
            <img
              class="tools-img"
              src="./img/tools/tools-journal-mob.png"
              alt="Journal"
              width="36"
              height="43"
          /></picture>
          <p class="tools-item-text">Journal note-attachment to each card</p>
        </li>
        <li class="tools-list-item">
          <picture>
            <source
              srcset="./img/tools/tools-card-desk.png"
              media="(min-width: 1440px)"
              width="95"
              height="114" />
            <source
              srcset="./img/tools/tools-card-mob.png"
              width="36"
              height="43" />
            <img
              class="tools-img"
              src="./img/tools/tools-card-mob.png"
              alt="Card"
              width="36"
              height="43"
          /></picture>
          <p class="tools-item-text">Mood tracker linked to card patterns</p>
        </li>
        <li class="tools-list-item">
          <picture>
            <source
              srcset="./img/tools/tools-shuffle-desk.png"
              media="(min-width: 1440px)"
              width="95"
              height="114" />
            <source
              srcset="./img/tools/tools-shuffle-mob.png"
              width="36"
              height="43" />
            <img
              class="tools-img"
              src="./img/tools/tools-shuffle-mob.png"
              alt="Cards"
              width="36"
              height="43"
          /></picture>
          <p class="tools-item-text">
            "Fracture" view: shuffle until visual resonance clicks
          </p>
        </li>
      </ul>
      <p class="tools-text">No forced logic. Just the space to connect.</p>
    </div>
  </div>
</section>
